/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.drop-zone.drag-over {
  border: 2px solid blue;
}

.draggable {
  cursor: move;
  position: absolute;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  &:hover {
    box-shadow:
      0 4px 4px -4px rgba(0, 0, 0, 0.2),
      0 7px 9px 0px rgba(0, 0, 0, 0.14),
      0 2px 13px 1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }

  &.dragging {
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 1000;
  }
}

.resizable {
  box-sizing: border-box;
  overflow: hidden;

  .resizer {
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    position: absolute;
  }

  .left {
    top: 5px;
    bottom: 5px;
    left: -5px;
    height: calc(100% - 10px);
    cursor: ew-resize;
  }

  .right {
    top: 5px;
    bottom: 5px;
    right: -5px;
    height: calc(100% - 10px);
    cursor: ew-resize;
  }

  .top {
    top: -5px;
    left: 5px;
    right: 5px;
    width: calc(100% - 10px);
    cursor: ns-resize;
  }

  .bottom {
    bottom: -5px;
    left: 5px;
    right: 5px;
    width: calc(100% - 10px);
    cursor: ns-resize;
  }

  .bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
  }

  .top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
  }

  .top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
  }

  .bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
  }
}

.remove-handler {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  color: red;
  background-color: #b0a8a882;
  display: none;

  .delete-icon {
    width: 24px;
    height: 24px;
    display: block;
    &::before {
      content: "\01F5D1";
      padding-left: 2px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      display: block;
      width: 22px;
      text-align: center;
    }
  }
}

.no-drop {
  cursor: no-drop !important;
}

.design-area {
  .draggable:hover {
    .remove-handler {
      display: block;
    }
  }
}
