.design-area {
  height: 100%;
  width: 100%;
  border: 2px solid #dbdbdb;
  border-radius: 0.75rem;
  box-sizing: border-box;
  &.no-drop {
    border: 2px solid red;
  }

  .design-panel {
    z-index: 2;
    position: absolute;
    top: 0.125rem;
    bottom: 0.125rem;
    left: 0.125rem;
  }
}
