<div class="design_panel_container">
  <div class="design_panel_header">
    Creatingly
    <button
            class="btn-outline"
            [ngClass]="{'btn-success': status==='Connected',
                        'btn-warning':status==='Pending',
                        'btn-danger':status==='Disconnected'}"
            (click)="changeStatus()">{{status}}</button>
  </div>
  <img class="design_element"
       src="search-bar.png"
       draggable="search-bar">
  <img class="design_element"
       src="top-bar.png"
       draggable="top-bar">
  <img class="design_element"
       src="text-field.png"
       draggable="text-field">
  <img class="design_element"
       src="button.png"
       draggable="button">
</div>