.design_panel_container {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 19rem;
  padding: 0.75rem;
  border-radius: 0.8125rem;
  overflow: auto;
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
}

.design_panel_header {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  font-family: inter;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.design_element {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow:
    0 4px 4px -4px rgba(0, 0, 0, 0.2),
    0 7px 9px 0px rgba(0, 0, 0, 0.14),
    0 2px 13px 1px rgba(0, 0, 0, 0.12);

  border-radius: 0.5rem;
  width: 17.5rem;
}

.btn-outline {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;

  &.btn-success {
    color: #28a745;
    border-color: #28a745;
  }

  &.btn-warning {
    color: #ffc107;
    border-color: #ffc107;
  }

  &.btn-danger {
    color: #dc3545;
    border-color: #dc3545;
  }
}
